<!DOCTYPE html>
<html>
<head>
    <title>
        Analysis Tool
    </title>
</head>
<body>
<form action="" method=post enctype=multipart/form-data>
    <label>Your First Name: </label>
    <input type='text' name='fname'><br/><br />
    <label>Name of Category: </label>
    <input type='text' name='cat'><br/><br />
    <label>Is this a standard category? </label>
    <input type='checkbox' name='catOrTest'/> <br /><br/>
    <input type="radio" name="posneg" value="+" checked> Positive<br>
    <input type="radio" name="posneg" value="-"> Negative<br>
    <input type="radio" name="posneg" value="0"> Unknown<br>
    <input type='file' name='file'/>
    <input type='submit'/>
</form>

</body>
</html>